<link rel="stylesheet" href="/static/style.css">
<div class="auth-box">
    <h2>Create Secure Account</h2>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Your Real Email" required>
        <input type="password" name="password" placeholder="Master Password" required>
        <button class="btn">Register</button>
    </form>
    <a href="/login" class="link">Login here</a>
</div>